#LoginPageContainer {
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;

  #LoginPageCard {
    height: 250px;
    width: 300px;
    margin-top: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    background-color: #f6f6f6;
    box-shadow: 10px 10px 50px 5px #dddddd;

    img {
      display: block;
      margin: auto;
      margin-bottom: 50px;
      margin-top: 10px;
    }

    div {
      text-align: center;
      margin-bottom: 10px;
    }

    a {
      background-color: #0077b5;
      color: white;
      width: 150px;
      display: block;
      margin: auto;
    }
  }
}